/* Sign-in section */
.sign-in {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in img {
  width: auto;
  height: auto;
  margin-bottom: 53px;
  margin-top: -20px;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sign-in label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.sign-in input {
  border: 2px solid;
  border-radius: 25px;
  padding: 1em;
  background-color: #fff;
  border-color: #eee #ddd #bbb;
  transition: 300ms ease-in-out;
}

.sign-in input::placeholder {
  color: #b8b9b4;
  font-size: 12px;
}

.sign-in input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

.sign-in button {
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.sign-in button:hover {
  background-color: #cfcfcf;
}


.sign-in .link {
  color: blue;
  text-decoration: none;
}

.sign-in .redirect {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.sign-in .goTo {
  color: #000000;
  font-size: 12px;
  padding: 5px;
}

.sign-in .link {
  color: #0b8d1f;
  font-weight: bold;
}

.sign-in .redirect a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .sign-in img {
    margin-bottom: 30px;
  }

  .sign-in button {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }
}
