.poll-page {
  background-size: cover;
  position: relative;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  background-image: url('../../assets/blur2.png');
  background-size: cover;
  width: 2076px;
  height: 2043px;
  
}


.poll-container {
  width: 650px;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffffa6;
  border-radius: 25px;
  border: 1px solid;
  border-color: #eee #ddd #bbb;
  margin-bottom: 20px;
  align-items: center;
  background-size: cover;
}


.poll-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: #0C1F34;
}

.poll-button {
border-radius: 45px;
background: #008481;
border: none;
padding: 12px 24px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 2px 1px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
color: #fff;

}

.poll-button:hover {
  background-color: #026968;;
}

.poll-choice {
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  margin: 3px 3px;
  border-radius: 10px;
  background-color: #65778638;
}

.poll-choice input[type="radio"] {
  margin-right: 8px;
}

.poll-choice label {
  font-size: 16px;
}

.poll-time {
  margin-top: 10px;
  color: #657786;
  font-size: 14px;
}

.poll-creator {
  color: #182D45;
}


.vote-container {
  max-width: 650px;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 20px;
  align-items: center;
  margin: 95px auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  box-shadow: 5px 40px 45px -10px rgb(0 0 0 / 41%), 5px 40px 45px 10px rgb(0 0 0 / 41%);
  background-image: url('../../assets/blur-opacity2.png');
  background-size: cover;
  }

.vote-container p {
  font-size: 14px;
  color: #657786;
  margin-bottom: 10px;
  padding: 10px;
  /* transform: translate(-28px, 1px); */
}



.poll-result-label-a,
.poll-result-label-b {
  background-color: #354c3717;
  margin: 10px 0;
  padding: 10px;
  white-space: nowrap;
  color: #00000080;
  border-radius: 10px;
}

.poll-deadline {
  margin-top: 10px;
  padding: 10px;
  text-align: right;
}

.highest-vote {
  background-color:#11613385;
  color: #ffffffbf;
}
