
.poll-container {
  width: 650px;
  margin: 10px auto;
  padding: 20px;
  background-color: #a9bdd1b3;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}


.poll-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0C1F34;
  
}

.poll-button {
width: 72px;
height: 32px;
flex-shrink: 0;
border-radius: 25px;
background: #415A77;
} 

.poll-button :hover {
border-radius: 34px;
background: rgba(242, 207, 82, 0.44);
} 


.poll-option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.poll-option input[type="radio"] {
  margin-right: 8px;
}

.poll-option label {
  font-size: 16px;
}


.poll-time {
  margin-top: 10px;
  color: #657786;
  font-size: 14px;
}

.poll-creator {
  color: #182D45;
  
}

.vote-container {
  width: 650px;
  padding: 20px;
  background-color: #a9bdd1b3;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  margin: 95px auto;
}

