.home-page {
  position: relative;
  padding: 20px;
  color: #14171a;
  font-family: Arial, sans-serif;
  background-image: url('../../assets/blur2.png');
  background-size: cover;
}

.home-page h1 {
  padding: 20px;
  color: #14171a;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.polls-container {
  flex-direction: column;
}


.poll-container {
  /* background-color: #f5f8fa; */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.poll-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.poll-container p {
  font-size: 14px;
  color: #3a4956;
  margin-bottom: 10px;
}

.poll-votes {
  transform: translate(379px, 18px);
}



.poll-container .options {
  flex-direction: column;
}

.poll-container .option {
  align-items: center;
  margin-bottom: 10px;
}

.poll-container .option input[type='radio'] {
  margin-right: 10px;
}

.poll-container .option label {
  font-size: 14px;
}

.poll-container .vote-btn {
  background-color: #1da1f2;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  cursor: pointer;
}

.poll-container .vote-btn:hover {
  background-color: #0f86d3;
}

.poll-container .poll-info {
  align-items: center;
  margin-bottom: 10px;
}

.poll-container .poll-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.poll-container .poll-info .username {
  font-weight: bold;
}

.poll-container .poll-info .timestamp {
  color: #657786;
  font-size: 12px;
}

.poll-container .poll-actions {
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.poll-container .poll-actions .action-btn {
  color: #657786;
  font-size: 12px;
  cursor: pointer;
}

/* .poll-container .poll-actions .action-btn:hover {
  text-decoration: underline;
} */

.create-poll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 35px 50px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: #fff;
  background-color: #23c483;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.create-poll-button:hover {
  background-color: #23c483;
  color: #fff;
  transform: translateY(-7px);
}

.create-poll-button:active {
  transform: translateY(-1px);
}

/* Media Queries */
@media (max-width: 768px) {
  .poll-container {
    padding: 15px;
    display:block;
  }

  .poll-container h3 {
    font-size: 16px;
  }

  .poll-container p {
    font-size: 12px;
  }

  .poll-container .option label {
    font-size: 12px;
  }

  .poll-container .vote-btn {
    padding: 6px 12px;
    font-size: 12px;
  }

  .home-page h1 {
    font-size: 20px;
  }

  .poll-container .poll-info img {
    width: 30px;
    height: 30px;
  }

  .poll-container .poll-info .username {
    font-weight: normal;
    font-size: 12px;
  }

  .poll-container .poll-info .timestamp {
    font-size: 10px;
  }

  .poll-container .poll-actions .action-btn {
    font-size: 10px;
  }

  .create-poll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 17px 25px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #fff;
    background-color: #23c483;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  /* Additional Mobile Styles */
  .home-page {
    padding: 10px;
  }
}