.chatbox-header {

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment {

  align-items: center;
  margin-bottom: 10px;
}


.comment-content {
  
  flex-direction: column;
}

.comment-content p {
  margin: 0;
}

.comment-content span {
  font-size: 12px;
  color: #ffffff;
}

form {
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
}

.submit-container {
  display: flex;
  align-items: flex-start;  /* Align items vertically at the start of the container */
  justify-content: space-between;  /* Provide equal spacing between items */
}

textarea {
  /*flex: 1;*/  /* Commented out or remove */
  width: 80%;  /* Commented out or remove */
  padding: 5px;
  margin-right: 10px;  
  display: inline-block; 
}


form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
}


.close-button {
  cursor: pointer;
}

.refresh-button {
 cursor: pointer;
}

.refresh-button:hover {
  color: #007bff;
}
