.comment-container {
  margin: 10px;
  padding: 10px;
  background-color: #38546c8a;
  border-radius: 10px;
  color:#fff;
}

.comment-container:hover {
  border: 1px solid #38546c66;
  transform: scale(1.05);
  background-color: #415a7769;
}

.comment-container p {
  margin-bottom: 5px;
  color: #ffffffc7;
}

.chatbox-refresh button {
  width: 100px;
  height: 50px;
}

