.navbar {
  background-color: #3a6b99;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  opacity: 92%;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff4f;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.connect-wallet-button,
.logout-button,
.home-button {
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.connect-wallet-button:hover,
.logout-button:hover,
.home-button:hover {
  background-color: #cfcfcf;
  transform: translateY(-7px);
}

.connect-wallet-button:active,
.logout-button:active,
.home-button:active {
  transform: translateY(-1px);
}
