.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  opacity: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff4f;
}

.connect-wallet-button {
  color: #000000;
  background-color: #E0E1DD;
}

.home-button {
  color: #000000;
  background-color: #E0E1DD;
}

.logout-button {
  color: #000000;
  background-color: #E0E1DD;
}

.create-poll-button {
  color: #000000;
  background-color: #00A67E;
}
