/* Styles for Signup component */
.sign-up {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  rgba(13, 27, 42, 0.93);

  }


  .sign-up form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    width: 1440px;
    
  }
  
  .sign-up input {
    line-height: 28px;
   border: 2px solid transparent;
   border-bottom-color:#415A77;;
   padding: .2rem 0;
   outline: none;
   background-color: transparent;
   color: #E0E1DD;
   transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  
     .sign-up input::placeholder {
      color: #ffffffa9;
      text-align: left;
      font-size: 12px;
     }
     
     .sign-up input:focus::placeholder {
      opacity: 0;
      transition: opacity .3s;
     }
     
  
     .sign-up button {
      width: 119px;
      height: 59px;
      background-color: #415a77;
      color: #fff;
      border: none;
      border-radius: 15px;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .sign-up  button:hover {
      background-color: #dcc66c;
    }
  
  .redirect a {
    color: white;
    text-decoration: none;
  }
  

  .goTo {
    color: rgb(255, 255, 255);
    font-size: 12px; /* Increase the font size */
    /* background: rgba(193, 160, 160, 0.5); black background with 60% opacity */
    padding: 5px;
     /* Add padding for better visibility */
    
  }
  .link{
   color: rgba(0, 166, 126, 0.88);
    font-weight: bold;
  }
  