.sign-up {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.sign-up input {
  border: 2px solid;
  border-radius: 25px;
  padding: 1em;
  background-color: #fff;
  border-color: #eee #ddd #bbb;
  transition: 300ms ease-in-out;
}

.sign-up input::placeholder {
  color: #9f9f9f;
  text-align: left;
  font-size: 12px;
}

.sign-up input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s;
}

.sign-up button {
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.sign-up button:hover {
  background-color: #cfcfcf;
}

.redirect a {
  color: white;
  text-decoration: none;
}

.goTo {
  color: #000000;
  font-size: 12px;
  padding: 5px;
}

.link {
  color: rgba(0, 166, 126, 0.88);
  font-weight: bold;
}

/* Media Queries */
/* Sign-up page */
@media only screen and (max-width: 768px) {
  .sign-up {
    height: auto;
    padding: 20px;
  }

  .sign-up input {
    font-size: 14px;
  }

  .sign-up button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .goTo {
    font-size: 10px;
    padding: 4px;
  }
}