.app {
    background-color: #008481;
    height: 100vh;
    width: 100vw;
}

/* Example of mobile-responsive styles */
/* @media (max-width: 768px) { */
    /* Styles for screens up to 768px */
    /* Adjust layout, font sizes, etc. */
  /* }
  
  @media (max-width: 480px) { */
    /* Styles for screens up to 480px */
    /* Further adjustments for smaller screens */
  /* }
   */